
.reviwes {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #f9f9f9;
}
.reviwes h2 {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-top: 20px;
}
.reviwes p {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
}
.reviwes-student {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px 0 0 20px;
}
.reviwes-item-img img {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
}
.reviwes-student {
    text-align: left;
}
.reviwes-item-name {
   margin-left: 10px;
   align-self: center;
}
.reviwes-item-text {
    background-color: white;
    padding: 10px 20px 0 20px;
}
.reviwes-item-text p {
    text-align: left;
}
.reviwes-mark {
    background-color: white;
    padding: 0 0 60px 20px;
}
.reviwes-mark i {
    color: #3f51b5;
}
.reviwes-slide-icon {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 50px;
    font-size: 10px;
    color: gray;
    margin-top: 20px;
}
.reviwes-slide-icon i {
    padding: 10px 10px 40px 10px;
}
.reviwes-slide-icon :nth-child(2) {
    color: lightgrey;
}
.reviwes-slide-icon :nth-child(3) {
    color: lightgrey;
}
.reviwes-slide-icon :nth-child(4) {
    color: lightgrey;
}

.reviwes-item {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .reviwes-slide-icon :nth-child(1) {
        color: lightgrey;
    }
    .reviwes-slide-icon :nth-child(3) {
        color: grey;
    }
}

@media screen and (min-width: 992px) {
    .reviwes-item-jackson {
        display: flex;
    }
    .reviwes-item-andrio {
        display: flex;
    }
    .reviwes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .reviwes h1, p {
        width: 100%;
    }
    .reviwes-item {
        margin: 0;
        padding: 10px;
        width: 300px;
    }
    .reviwes-items {
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    .carousel-rev-items {
        display: flex;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }
    .reviwes-slide-icon {
        width: 100%;
        justify-content: center;
    }
    .reviwes-item-text {
        height: 100%;
    }
    
}